* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    line-height: 1.7;
    background-color: #313866;
    color: #fff
}

.container {     
    padding: 2rem;  
}

.container h1 {
    text-align: center;
}

.container table {
    /* outline: 2px solid red; */
    /* max-width: 1224px; */
    margin: 2rem auto;    
}

table {
    border-collapse: collapse;
    max-width: 1024px;    
}

 th, td {
    border: 1px solid #ccc;
    padding: 0.543rem 1rem;
}

thead {
    text-transform: uppercase;
    letter-spacing: 0.112rem;
    font-size: 0.954rem;
    background-color: #666;
    color: #222;
    /* letter-spacing: 0.131rem; */
}

.responsive-table {
    overflow-x: auto;
}

@media screen and (min-width: 768px) {
    thead {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    thead {
        font-size: 1.221rem;
    }   
    tbody {
        font-size: 1.212rem;
    }
}

@media screen and (min-width: 1366px) {
    thead {
        font-size: 1.331rem;
    }

    tbody {
        font-size: 1.342rem;
    }
}

tbody {
    text-transform: capitalize;
}


